.RichEditor-root {
    margin-top: 10px;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 14px;
    color: black;
}
  
  .RichEditor-editor {
    border-top: 1px solid #ddd;
    cursor: text;
    font-size: 16px;
    padding-left: 15px;
    /* margin-top: 10px; */
    min-height: 90vh;
    border: 0px solid grey;

  }
  .DraftEditor-editorContainer, .DraftEditor-root, .RichEditor-editor{
    border: 0px solid grey; 
  }
  .RichEditor-editor .public-DraftEditorPlaceholder-root,
  .RichEditor-editor .public-DraftEditor-content {
    /* margin: 0 -15px -15px; */
    padding: 15px;
    border-width: 0px;
  }
  
  .RichEditor-editor .public-DraftEditor-content {
    min-height: 100px;
  }
  
  .RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
    display: none;
  }
  
  .RichEditor-editor .RichEditor-blockquote {
    border-left: 5px solid #eee;
    color: #666;
    font-family: "Hoefler Text", "Georgia", serif;
    font-style: italic;
    margin: 16px 0;
    padding: 10px 20px;
  }
  
  .RichEditor-editor .public-DraftStyleDefault-pre {
    background-color: rgba(219, 219, 219, 0.05);
    font-family: "Inconsolata", "Menlo", "Consolas", monospace;
    font-size: 16px;
    padding: 20px;
  }
  
  .RichEditor-controls {
    font-family: "Helvetica", sans-serif;
    font-size: 30px;
    user-select: none;
    padding: 10px;
  }
  
  .RichEditor-styleButton {
    color: rgb(85, 85, 85);
    cursor: pointer;
    margin-right: 16px;
    font-size: 20px;
    padding: 2px 0;
    width: 25px;
    height: 25px;
    text-align: center;
    display: inline-block;
  }
  
  .RichEditor-activeButton {
    /* color: #5890ff; */
    /* border-radius: 25px; */
    /* background-color: rgb(187, 187, 187); */
    color: black;
    font-weight: 500;
  }
  

  .rowify{
      display: flex;
      flex-direction: row;
      background-color: rgb(246, 240, 240);
      align-items: center;
      justify-content: center;
  }
